
body {
    padding: 50px;
    text-align: center;
    color: white;
    background-color: lightslategray;
}

.section {
    margin: 20px;
}

.switch-button {
    margin-bottom: 20px;
}

#display {
    height: 30%;
    width: 100%;
    border: 2px dotted black;
}