<!DOCTYPE html>
<html>
    <meta charset="utf-8">
    <head>
        <title>
            Color Switcher
            <link rel="stylesheet" href="../../public/css/stylesheet.css">
        </title>
    </head>
    <body>
        <div id="colorswitch">
            Press to change color.
        </div>
    </body>
</html>